



<!-- kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
<div class="carousel-container">
  <div class="carousel-slide">
    <img src="/assets/images/partner-1.jpg" alt="Slide 1">
    <img src="/assets/images/partner-2.jpg" alt="Slide 2">
    <img src="/assets/images/partner-3.jpg" alt="Slide 3">
    <img src="/assets/images/partner-4.jpg" alt="Slide 4">
    <img src="/assets/images/partner-5.jpg" alt="Slide 5">
    <img src="/assets/images/partner-6.jpg" alt="Slide 6">
    <img src="/assets/images/partner-7.jpg" alt="Slide 7">
    <img src="/assets/images/partner-8.jpg" alt="Slide 8">
    <img src="/assets/images/partner-9.jpg" alt="Slide 8">
    <img src="/assets/images/partner-10.jpg" alt="Slide 8">
    <img src="/assets/images/partner-11.jpg" alt="Slide 8">
    <img src="/assets/images/partner-12.jpg" alt="Slide 8">
    <img src="/assets/images/partner-13.jpg" alt="Slide 8">
    <img src="/assets/images/partner-14.jpg" alt="Slide 8">
    <img src="/assets/images/partner-15.jpg" alt="Slide 8">
    <img src="/assets/images/partner-15.jpg" alt="Slide 8">
    <img src="/assets/images/partner-16.jpg" alt="Slide 8">
    <img src="/assets/images/partner-17.jpg" alt="Slide 8">
    <img src="/assets/images/partner-18.jpg" alt="Slide 8">
    <img src="/assets/images/partner-19.jpg" alt="Slide 8">
    <img src="/assets/images/partner-20.jpg" alt="Slide 8">
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="footer-grids">

      <div class="col-md-3 ftr-info">
        <h3>About Us</h3>
        <p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus.
          Suspendisse pharetra, metus sed rutrum pretium.</p>
      </div>
      <div class="col-md-3 ftr-grid">
        <h3>Categorias</h3>
        <ul class="ftr-list">
          <li><a href="#">Accion</a></li>
          <li><a href="#">Carreras</a></li>
          <li><a href="#">Aventuras</a></li>
          <li><a href="#">Simulacion</a></li>
        </ul>
      </div>
      <div class="col-md-3 ftr-grid">
        <h3>Platformas</h3>
        <ul class="ftr-list">
          <li><a href="#">Pc</a></li>
          <li><a href="#">Ps4</a></li>
          <li><a href="#">XBOX 360</a></li>
          <li><a href="#">XBOX ONE</a></li>
        </ul>
      </div>
      <div class="col-md-3 ftr-grid">
        <h3>Informacion</h3>
        <ul class="ftr-list">
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">Carrito de compras</a></li>
          <li><a href="#">Terminos y Condiciones</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="copywrite">
  <div class="container">
    <p> © 2023 GAME GO Todos los derechos reservados | <a href="">RSS Desing</a>
    </p>
  </div>
</div>




