  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-slide {
    display: flex;
    animation: carousel-animation 20s linear infinite;
  }

  .carousel-slide img {
    width: 10%;
    height: auto;
  }

  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
