<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <!-- <app-navbar></app-navbar> -->

    <section class="contenedor">
        <div class="box">
            <form (ngSubmit)="login()">
                <h2>Iniciar sesión</h2>

                <div class="inputBox">
                    <input type="text" id="user" name="user" required="required" [(ngModel)]="user">
                    <span for="user">Usuario</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" id="pass" name="pass" required="required" [(ngModel)]="pass">
                    <span for="pass">Contraseña</span>
                    <i></i>
                </div>

                <div class="links">
                    <a href="#">Recuperar contraseña</a>
                    <a href="#">Registrarse</a>
                </div>

                <div class="btn-entrar">
                    <input type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </section>

</body>

</html>