<!-- Nav -->
<app-navbar></app-navbar>

<app-efx></app-efx>
<div class="banner">
    <div class="bnr2">
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="contact-head">
            <section class="contenedor">
                <div class="box">
                    <div class="content">
                        <h2>Contacto</h2>
                    </div>
                </div>
              </section>
            <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                <div class="col-md-6 contact-left">
                    <input type="text" class="text" name="w3lName" placeholder="Nombre" required>
                    <input type="email" class="text" name="w3lSender" placeholder="Email" required>
                    <input type="text" class="text" name="w3lSubject" placeholder="Asunto" required>
                </div>
                <div class="col-md-6 contact-right">
                    <textarea placeholder="Mensaje" name=""></textarea>
                    <input type="submit" value="ENVIAR" />
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.188960305484!2d-78.4850175!3d-0.18625129999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a7ce9ba8755%3A0x755f2bd0d36e70a7!2sLa%20Carolina%2C%20Quito!5e0!3m2!1ses!2sec!4v1684251772137!5m2!1ses!2sec"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="address">
            <h3>Atención al Cliente</h3>
            <div class="locations">
                <ul>
                    <li><span></span></li>
                    <li>
                        <div class="address-info">
                            <h4>Quito,Sector La Carolina</h4>
                            <p>10-765 San Salvador y Republica</p>
                            <p>Quito - Ecuador,</p>
                            <p>Telefono: 099 456 7890</p>
                            <p>Mail: <a href="mailto:info@gamego.com">uio@gamego.com</a></p>
                            <h5><a href="">Visit on Google Maps >></a></h5>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li><span></span></li>
                    <li>
                        <div class="address-info">
                            <h4>Bolivar,Caluma</h4>
                            <p>10-765 Sector La Florida</p>
                            <p>Bolivar - Ecuador</p>
                            <p>Phone: 099 456 7890</p>
                            <p>Mail: <a href="mailto:info@example.com">bol@gamego.com</a></p>
                            <h5><a href="">Visit on Google Maps >></a></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Foot -->
<app-footer></app-footer>