<!-- Nav -->
<app-navbar></app-navbar>

<!-- content -->
<div class="banner">
  <div class="bnr2">
  </div>
</div>

<div class="review">
  <div class="container">

    <!-- Boton neon -->
    <h2><app-neon></app-neon></h2>

    <div class="review-md1">
      <div class="col-md-3" *ngFor="let item of dataProductos">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src={{item.imagen}} alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">{{item.juego}}</a></h4>
            <p class="card-description">{{item.categoria}}</p>
            <div class="card-details">
              <p class="card-price">{{item.precio}}</p>
              <button mat-raised-button color="primary" type="button" class="add-cart">Agregar al carrito</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Efecto avion -->
      <app-efx></app-efx>
    </div>

    <div class="clearfix"> </div>
  </div>
</div>

<!-- Foot -->
<app-footer></app-footer>