<!-- content -->
<div class="banner">
  <div class="bnr2">
  </div>
</div>
<div class="review">
  <div class="container">
    <h2>Shop</h2>
    <div class="review-md1">
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re1.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <!-- en el href va la pagina de carrito o compra -->
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re2.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re3.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re4.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re5.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re6.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re7.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re8.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re9.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re10.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re11.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shop-card">
          <a href="">
            <img class="card-image" src="/assets/images/re12.jpg" alt="">
          </a>
          <div class="card-content">
            <h4 class="card-title"><a href="">Sed ut perspiciatis unde omnis</a></h4>
            <p class="card-description">Lorem Ipsum</p>
            <div class="card-details">
              <p class="card-price">$19.99</p>
              <a href="#" class="btn-add-to-cart">Agregar al carrito</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="clearfix"> </div>
  </div>
</div>
