<!-- Navbar -->
<app-navbar></app-navbar>

<app-efx></app-efx>

<!-- banner -->
<div class="banner">
  <div class="bnr2">
  </div>
</div>

<div class="about">
  <div class="container">
    <section class="contenedor">
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <h2>Nosotros</h2>
      </a>
    </section>

    <div class="about-info-grids">
      <div class="col-md-5 abt-pic">
        <section class="imag">
          <img src="/assets/images/abt1.jpeg" class="img-responsive" alt="" />
          <br>
          <img src="/assets/images/abt2.jpg" class="img-responsive" alt="" />
        </section>
      </div>
      <section>
        <div class="col-md-7 abt-info-pic">
          <h2>GAME-GO..!!</h2>
          <p class="white-par">¡Bienvenidos al mundo gamer de Game Go! <br> Aquí encontrarás todo lo que necesitas para
            vivir
            tus aventuras virtuales favoritas.
            Somos una tienda en línea que ofrece los mejores videojuegos del mercado, tanto físicos como
            digitales, así como periféricos y accesorios para que disfrutes al máximo tu experiencia de
            juego.
            <br> En Game Go nos tomamos muy en serio la diversión, y por eso trabajamos arduamente para
            ofrecerte los títulos más emocionantes y al mejor precio.
            Además, aceptamos varios medios de pago en línea, para que puedas comprar tus juegos favoritos
            sin tener que salir de casa.¡y comienza a jugar ahora mismo en Game Go!
          </p>
          <h2>Misión</h2>
          <p class="white-par">Misión: Proporcionar la mejor selección de videojuegos y servicios relacionados,
            brindando una experiencia de
            compra única y satisfactoria para todos los gamers, con un enfoque en la calidad, la innovación y la pasión
            por los juegos</p>
          <h2>Visión</h2>
          <p class="white-par">Visión: Ser la plataforma de referencia para los amantes de los videojuegos, ofreciendo
            un catálogo amplio y
            diverso, una atención al cliente excepcional y un compromiso constante con la excelencia, convirtiéndonos en
            el destino preferido de los jugadores en línea y fuera de línea</p>
        </div>
      </section>
      <div class="clearfix"></div>
    </div>
    <div class="testimonals">
      <h3>Paginas Amigas</h3>
      <div class="testimonal-grids">
        <div class="col-md-3 testimonal-grid">
          <div class="testi-info">
            <p>Game Spot: La fuente confiable para reseñas y noticias de videojuegos, manteniéndote informado y
              actualizado en el mundo del gaming</p>
            <h4>GAME SPOT</h4>
            <a href="https://www.gamespot.com">http://www.gamespot.com</a>
          </div>
        </div>
        <div class="col-md-3 testimonal-grid">
          <div class="testi-info">
            <p>IGN: El destino definitivo para reseñas, avances y contenido exclusivo de videojuegos, brindándote una
              visión experta y entretenida del mundo gamer</p>
            <h4>IGN</h4>
            <a href="https://www.ign.com">http://www.ign.com</a>
          </div>
        </div>
        <div class="col-md-3 testimonal-grid">
          <div class="testi-info">
            <p>GameFAQs: La comunidad en línea de jugadores y expertos, donde encontrarás guías, trucos y respuestas a
              tus desafíos más difíciles en los videojuegos.</p>
            <h4>GameFaqs</h4>
            <a href="https://www.gamefaqs.com">http://www.gamefaqs.com</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<app-footer></app-footer>
