<!-- Navbar -->
<app-navbar></app-navbar>

<app-efx></app-efx>

<!-- banner -->
<div class="banner">
    <div class="bnr2">
    </div>
</div>

<div class="about">
    <div class="container">
        <section class="contenedor">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <h2>Nosotros</h2>
            </a>
        </section>

        <div class="about-info-grids">
            <div class="col-md-5 abt-pic">
                <img src="/assets/images/abt.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-7 abt-info-pic">
                <h3>GAME-GO..!!</h3>
                <p>¡Bienvenidos al mundo gamer de Game Go! <br> Aquí encontrarás todo lo que necesitas para vivir
                    tus aventuras virtuales favoritas.
                    Somos una tienda en línea que ofrece los mejores videojuegos del mercado, tanto físicos como
                    digitales, así como periféricos y accesorios para que disfrutes al máximo tu experiencia de
                    juego.
                    <br> En Game Go nos tomamos muy en serio la diversión, y por eso trabajamos arduamente para
                    ofrecerte los títulos más emocionantes y al mejor precio.
                    Además, aceptamos varios medios de pago en línea, para que puedas comprar tus juegos favoritos
                    sin tener que salir de casa.¡y comienza a jugar ahora mismo en Game Go!
                </p>
                <ul>
                    <li>Proin et ligula ut nulla laoreet posuere.</li>
                    <li>Sed vestibulum magna vel egestas feugiat.</li>
                    <li>Curabitur nec erat eu lorem gravida aliquet.</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="testimonals">
            <h3>Referidos</h3>
            <div class="testimonal-grids">
                <div class="col-md-4 testimonal-grid">
                    <div class="testi-info">
                        <p>""..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus
                            dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh
                            imperdiet dignissim molestie.""</p>
                        <h4>GAME SPOT</h4>
                        <a href="mailto:example@gmail.com">http://www.example.com</a>
                    </div>
                </div>
                <div class="col-md-4 testimonal-grid">
                    <div class="testi-info">
                        <p>""..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus
                            dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh
                            imperdiet dignissim molestie.""</p>
                        <h4>IGN</h4>
                        <a href="mailto:example@gmail.com">http://www.example.com</a>
                    </div>
                </div>
                <!-- <div class="col-md-4 testimonal-grid">
                    <div class="testi-info">
                        <p>""..Mauris congue, dolor at vehicula scelerisque, enim odio vehicula turpis, vitae luctus
                            dolor nisi eget est. Aliquam maximus felis eget varius mattis. Quisque tristique nibh
                            imperdiet dignissim molestie.""</p>
                        <h4>GAME FAQS</h4>
                        <a href="mailto:example@gmail.com">http://www.example.com</a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>



<!-- Footer -->
<app-footer></app-footer>
